<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mon projet de vie {% block title %}{% endblock %}</title>
        <link rel="icon" href="https://www.arsea.fr/wp-content/themes/arsea/favicon.png">


        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/style.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include '__header.html.twig' %}

        <div class="body">
            {% block body %}{% endblock %}
            <div class="minBody"></div>
        </div>

        {% include '__footer.html.twig' %}
    </body>
</html>
